NEXT_PUBLIC_SUPABASE_URL=https://fyizibleiplfhcaufyzg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5aXppYmxlaXBsZmhjYXVmeXpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MTEyMTcsImV4cCI6MjEwNjE4NzIxN30.nzaGFfF97pl43BtnDjiNTZceIkypk4S11RoMdCFLAKM
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
